@import "tailwindcss" source(none);
@import "./design-system/codeconut-ltd-2019-2025-dx-42c1f0/styles/theme.css";
@source "../src";

body {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-foreground);
}
